
@{
    ViewData["Title"] = "About";
}

<div id="page">
    <div id="header">
        <div class="title">Smithsonian Libraries</div>
    </div>
    <div id="bar">
        <div class="menuLink"><a asp-area="" asp-action="Index">HOME</a></div>
        <div class="menuLink"><a asp-area="" asp-action="About">ABOUT</a></div>
        <div class="menuLink"><a asp-area="" asp-action="Art">BOOKS</a></div>
        <div class="menuLink"><a asp-area="" asp-action="DataModel">DATA MODEL</a></div>



    </div>
    <div id="pageContent">


        <div id="content">
            <div class="abtus">
                <h1>About us</h1>
                <p align="justify">
                    At the center of research across the Smithsonian are the specialized branches and librarians of the Smithsonian Libraries. The collections and staff of the Libraries play a key role in helping the Smithsonian’s research and curatorial staff make sense of the museums’ almost innumerable, often unique, objects and their cultural and historical contexts. The Smithsonian Libraries are a hidden national treasure, where experts come to test and expand knowledge and where America and the world can turn for authentic answers.

                </p>
            </div>

            <div>
                <div class=member>
                    <img src="~/res/pruthvish.png">
                    <h3 align="center">Pruthvish Vyas</h3>
                    <p align="justify">
                        Currently a student at USF's Business Analytics and Information Systems graduate program,
                        Pruthvish has worked as a front-end developer for about 4 years. His contributions include
                        designing and developing various pages of the website.
                    </p>
                </div>
                <div class=member>
                    <img src="~/res/saurabh.png">
                    <h3 align="center">Saurabh Kumar</h3>
                    <p align="justify">
                        A graduate student in Business Analytics and Information Systems at USF,Saurabh has
                        4 years of experience as a QA analyst in LTI.He contributed in designing the database
                        model to store the data from data.gov and also helped in designing the webpage.
                    </p>
                </div>
                <div class=member>
                    <img src="~/res/shifali.png">
                    <h3 align="center">Shifali Raina</h3>
                    <p align="justify">
                        Shifali is a student at USF's Business Analytics and Information Systems graduate program.
                        She has worked for over 6 years as a Devops Engineer and automation developer. Her
                        contributions include designing and developing various pages of the website.
                    </p>
                </div>
            </div>
        </div>



    </div>
</div>
<div id="footer"></div>
