
@{
    ViewData["Title"] = "DataModel";
}

<div id="page">
    <div id="header">
        <div class="title">Smithsonian Libraries</div>
    </div>
    <div id="bar">
        <div class="menuLink"><a asp-area="" asp-action="Index">HOME</a></div>
        <div class="menuLink"><a asp-area="" asp-action="About">ABOUT</a></div>
        <div class="menuLink"><a asp-area="" asp-action="Art">BOOKS</a></div>
        <div class="menuLink"><a asp-area="" asp-action="DataModel">DATA MODEL</a></div>


    </div>
    <div id="pageContent">
        <h1>Data Model</h1>
        <div class="datamodel">
            <img src="~/res/DataModel.png" />
        </div>

    </div>


</div>
<div id="footer"></div>
