@{
    ViewData["Title"] = "Home Page";
}
<div id="page">
    <div id="header">
        <div class="title">Smithsonian Libraries</div>
    </div>
    <div id="bar">
        <div class="menuLink"><a asp-area="" asp-action="Index">HOME</a></div>
        <div class="menuLink"><a asp-area="" asp-action="About">ABOUT</a></div>
        <div class="menuLink"><a asp-area="" asp-action="Art">BOOKS</a></div>
        <div class="menuLink"><a asp-area="" asp-action="DataModel">DATA MODEL</a></div>




    </div>
    <div id="pageContent">

        <div class="articleTitle">Smithsonian American Art Museum Library</div>
        <div>
            Smithsonian American Art Museum tries to capture american culture from the colonial period to the modern time.
            At the center of research across the Smithsonian are the specialized branches and librarians of the Smithsonian Libraries. The collections and staff of the Libraries play a key role in helping the Smithsonian’s research and curatorial staff make sense of the museums’ almost innumerable, often unique, objects and their cultural and historical contexts. The Smithsonian Libraries are a hidden national treasure, where experts come to test and expand knowledge and where America and the world can turn for authentic answers.
            </br>
            Visit the Smithsonian American Art Museum            
            </br>
            </br>

            <img src="~/res/museum.jpg" width="660">


        </div>
    </div>
</div>
<div id="footer"></div>
